One decode attempt of 9 bytes of bad CBOR data can exhaust memory (refreshToken.go, resourceDirectory.go, signIn.go, signUp.go, ...)

Decoding 9-10 bytes of malformed CBOR data can cause "fatal error: out of memory" and "runtime: out of memory" errors.  Only 1 decode attempt is required to cause the error.

### Relevant Code

Issue is located in: service/refreshToken.go, service/resourceDirectory.go, service/signIn.go, service/signUp.go, service/decodeMsgToDebug.go, service/ping.go, service/utils_test.go

Example code (refreshToken.go):
```
import (
...
	"github.com/ugorji/go/codec"
...
)
...
func refreshTokenPostHandler(s gocoap.ResponseWriter, req *gocoap.Request, client *Client) {
	var refreshToken CoapRefreshTokenReq
	var cborHandle codec.CborHandle

	err := codec.NewDecoder(bytes.NewBuffer(req.Msg.Payload()), &cborHandle).Decode(&refreshToken)
...
```

GitHub search:  
https://github.com/go-ocf/coap-gateway/search?q=cborhandle&unscoped_q=cborhandle

## 🔥 Error (fatal error: out of memory)

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://tools.ietf.org/html/rfc7049#section-8).

For more comparisons, see [fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md).  

### Description and Minimal Reproduction

In October 2013, RFC 7049 Section 8 (CBOR Security Considerations) warned that malformed CBOR data can be used to exhaust system resources.

> Resource exhaustion attacks might attempt to lure a decoder into
> allocating very big data items (strings, arrays, maps) or exhaust the
> stack depth by setting up deeply nested items.  Decoders need to have
> appropriate resource management to mitigate these attacks. 

In September 2019, oasislabs/oasis-core found tiny CBOR data could exhaust memory and the problem was traced to the same CBOR library being used by go-ocf/coap-gateway today (ugorji/go). They fixed it by switching to more secure CBOR library.

In February 2020, smartcontractkit/chainlink reported an issue on pivitoltracker (I don't have login access) and fixed it in [a GitHub PR titled "Switch to more secure CBOR library"](https://github.com/smartcontractkit/chainlink/pull/2383). They were also using same CBOR library as go-ocf/coap-gateway.

To reproduce, decode 9-byte or 10-byte malformed CBOR data described in Section 8 of RFC 7049.  

Examples of malformed CBOR data to achieve this can be found on GitHub since September 2019 (or possibly earlier if you look beyond Go projects).
